name: ZAP Baseline Scan

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: 'http://testphp.vulnweb.com'
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          cmd_options: '-a'
          fail_action: false          
          allow_issue_writing: 'false' 
